extends: default

ignore: |
  **/000_all_vault.yml
  **/vault.yml
  .gitlab-ci.yml
  /venv/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  # NOTE(retr0h): Templates no longer fail this lint rule.
  #               Uncomment if running old Molecule templates.
  # truthy: disable
