{% if lm_es_major_version < 7 %}
filebeat.prospectors:
{% else %}
filebeat.inputs:
{% endif %}
{{ lm_filebeat_prospectors | to_nice_yaml(indent=2) | indent(2, true) }}

setup.template.settings:
  index.number_of_shards: 3
output.logstash:
  hosts: [{% for host in lm_logstash_hosts %}"{{ host }}:{{ lm_logstash_beats_port }}"{% if not loop.last %}, {% endif %}{% endfor %}]
