output {
  if [@metadata][beat] == "auditbeat"{
    elasticsearch {
      hosts => [{% for host in lm_elastic_hosts %}"{{ host }}:{{ lm_es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %}]
      index => "%{[@metadata][beat]}-%{[@metadata][version]}-%{+YYYY.MM.dd}"
    }
  } else {
    elasticsearch {
      hosts => [{% for host in lm_elastic_hosts %}"{{ host }}:{{ lm_es_http_port }}"{% if not loop.last %}, {% endif %}{% endfor %}]
{% if lm_es_major_version >= 7 %}
      index => "logstash-bs-%{+YYYY.MM.dd}"
{% endif %}
{% if lm_logstash_custom_index_template %}
      template => "/etc/logstash/templates/logstash-bs.json"
      template_name => "logstash"
      template_overwrite => "true"
{% endif %}
    }
  }
}
